/* PC */
@media (min-width: 1024px) {
}

/* TABLET & PC */
@media (min-width: 740px) {
}

/* TABLET */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* MOBILE & TABLET */
@media (max-width: 1023px) {
}

/* MOBILE */
@media (max-width: 739px) {
  #arrPractice {
    width: 100% !important;
  }

  .content-array {
    width: 70% !important;
  }
  .selectFn-container {
    width: 70% !important;
  }
  /*TODO ------------------------------------ Bài 1: Compare Value ----------------------------------- */
  #compare-value {
    width: 50% !important;
  }

  /*TODO ------------------------------------ Bài 2: Find Min/Max value ----------------------------------- */
  .inputGroup-minmax-func {
    display: flex;
    flex-direction: column;
  }

  /*TODO ------------------------------------ Bài 3: Calculator average ----------------------------------- */
  .content-avg-cal {
    width: 70% !important;
  }

  .input-min,
  .input-max {
    width: 100% !important;
  }
  /*TODO ------------------------------------ Bài 4: Reverse Array  ----------------------------------- */
  .inputReverseArr {
    width: 70% !important;
  }

  /*TODO ------------------------------------ Bài 5: Count Positive/Negative Number  ----------------------------------- */
  .PosNev-container {
    width: 100% !important;
  }
  .group-positive,
  .group-negative {
    width: 100% !important;
  }

  .item-func05 {
    width: 100%;
  }
}
