.part {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* * 3.1. Ứng dụng cho phép tra cứu các từ tiếng Anh sang tiếng Việt. --> */
/* Danh sách các từ được lưu trữ trong các mảng. --> */

.get-list-word {
  font-size: 0.8rem;
  padding: 0 2px;
  cursor: pointer;
}
.arrow-up-down {
  /* Xoay 90 độ */
  transform: rotate(90deg);
  cursor: pointer;
  font-size: 1.2rem;
  color: #0d6efd;
}

.arrow-up-down:hover,
.get-list-word:hover {
  opacity: 0.8;
}

/* TODO ---------------------------- 6. Luyện tập mảng --------------------------- */
.hide-form {
  display: none !important;
}

.your-arr {
  color: rgb(76, 76, 255);
  font-weight: 500;
  font-size: 1.05rem;
}

/* random arr length */
.rand-arr-length {
  cursor: pointer;
  transition: linear 0.4s;
  user-select: none;
}
.rand-arr-length:hover {
  opacity: 0.8;
}

.rand-arr-length:active {
  transform: scale(0.8);
  transform: rotate(180deg);
}

.arr-modal-header {
  background-color: #143463;
}

.arr-modal-header--text {
  color: #fff;
}

#arr-null {
  color: rgb(255, 76, 76);
  font-style: italic;
  font-size: 0.8rem;
}

.inputGroup-compare {
}

.input-compare-title,
.input-compare {
  text-align: center;
}

/* TODO ------------------------------- SELECT FROM ------------------------------ */

.label-formSelect {
  font-weight: 600;
  margin: 2px 0;
}

.make-sticky {
  z-index: 100;
  position: sticky;
  width: 70%;
  top: 0;
}

.bg-selectFn-container {
  background-color: #fff;
  box-shadow: 1px 3px 8px 0.7px rgb(51, 51, 51, 0.3);
  padding: 15px;
}

/*TODO ------------------------------------ Bài 1: Compare Value ----------------------------------- */

/* title Func */
.title-func {
  font-weight: 600;
  margin: 10px 0;
  margin-top: 50px;
}

/* sub-title Func */
.sub-title-func {
  font-size: 0.9rem;
  font-style: italic;
  color: #5e5e5e;
}

/* highlight bold  red */
.hightlight-red {
  font-weight: 700;
  color: rgb(255, 86, 86);
}

/*TODO ------------------------------------ Bài 2: Find Min/Max value ----------------------------------- */
.btnGroup-minmax {
  height: 38px !important;
}

/*TODO ------------------------------------ Bài 3: Calculator average ----------------------------------- */

.label-cal-avg {
  font-weight: 600;
}

#avgDetail {
  margin: 5px 0;
  font-size: 0.8rem;
  font-style: italic;
  color: #7c7c7c;
}

/*TODO ------------------------------------ Bài 4: Reverse Array  ----------------------------------- */
.review-arr-func04 {
  color: rgb(76, 76, 255);
  font-weight: 400;
  font-size: 1.02rem;
}

.reverse-arr-func04 {
  color: rgb(255, 86, 86);
  font-weight: 400;
  font-size: 1.02rem;
}

/*TODO ------------------------------------ Bài 5: Count Positive/Negative Number  ----------------------------------- */
.PosNev-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #b8b8b8;
  width: 50%;
  padding: 20px 40px 28px 40px;
  border-radius: 10px;
}

.group-positive,
.group-negative,
.group-zero {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.5s;
}

.group-positive:hover,
.group-negative:hover,
.group-zero:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.item-func05-text {
  font-weight: 700;
}
.group-positive {
  background-color: rgb(64, 131, 255);
  box-shadow: 1px 3px 8px 0.7px rgb(51, 51, 51, 0.8);
}
.group-negative {
  background-color: rgb(255, 75, 75);
  box-shadow: 1px 3px 8px 0.7px rgb(51, 51, 51, 0.8);
}

.group-zero {
  background-color: #4ce04c;
  box-shadow: 1px 3px 8px 0.7px rgb(51, 51, 51, 0.8);
}

.item-func05 {
  margin: 0;
  padding: 10px;
  pointer-events: none;
}

/*TODO ------------------------------------ Bài 6: Find X in array  ----------------------------------- */

.resultSearch {
  background-color: #1d1d1d;
  padding: 12px;
  border-radius: 5px;
}

.resultSearch-title,
.resultSearch-text {
  color: #fff;
}

.resultSearch-title {
  padding: 0 10px;
}

.resultSearch-text {
  font-size: 1.05rem;
}

.btn-search {
}

.result-icon-success,
.result-text-success {
  color: rgb(28, 185, 28);
}

.result-icon-fail,
.result-text-fail {
  color: rgb(185, 28, 28);
}

.found-color {
  background-color: #57ff73;
  color: rgb(255, 0, 0);
  padding: 0 5px 0 4px;
  font-weight: 700;
}

/*TODO ------------------------------------ Bài 7: Find X & Add X to array  ----------------------------------- */

/*TODO ------------------------------------ Bài 8: Find X & Delete X from array  ----------------------------------- */

.btn-add-item,
.btn-delete-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  user-select: none;
  transition: all 0.2s;
}

.btn-add-item:hover,
.btn-delete-item:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn-add-item:active,
.btn-delete-item:active {
  transform: scale(0.8);
}

.add-item-icon,
.add-item-text {
  color: rgb(28, 185, 28);
  font-size: 0.85rem;
  font-weight: 560 !important;
  padding: 0 2px;
}

.delete-item-icon,
.delete-item-text {
  color: rgb(255, 75, 75);
  font-size: 0.85rem;
  font-weight: 560 !important;
  padding: 0 2px;
}

/*TODO ------------------------------------ Bài 9: Sort array  ----------------------------------- */
.sort-option:checked {
  background-color: #666666 !important;
  border: #666666 !important;
  cursor: pointer;
  /* font-size: 1rem; */
}

.sortA-Z__icon,
.sortZ-A__icon {
  font-size: 1.2rem;
  color: #666666;
  cursor: pointer;
}

.sort-label {
  color: #666666;
  cursor: pointer;
}

.sort-container {
  width: 35%;
}

/*TODO ------------------------------------ Bài 10: Array Concatenation ----------------------------------- */

.add-new-randArr {
  padding: 10px;
  border-radius: 10px;
}

.add-new-randArr:hover {
  background-color: rgba(236, 236, 236, 0.8);
}

.add-new-randArr-disabled {
  user-select: none;
  pointer-events: none;
  background-color: #d3d3d3;
  opacity: 0.6;
}

.check-all-randArr {
  margin-left: 13px;
}
